/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  /* all elements will have Dosis font, header & footer will have kanit */
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 44px;
  color: #46a3bf;
}

footer {
  font-family: "Kanit", sans-serif;
  padding-bottom: 10px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.content {
  background: rgb(156, 142, 142);
  width: 320px;
  height: 340px;
  margin-top: 10px;
}

/* center and align all elements */
