/* Reset CSS default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #46a3bf;
  --secondary-color: #ffa500;
  --dark-grey: #383838;
  --light-grey: #c0c0c0;
}

html {
  height: 100vh;
}

body {
  /* all elements will have Dosis font, header & footer will have kanit */
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 44px;
  color: var(--primary-color);
}

footer {
  font-family: "Kanit", sans-serif;
  padding-bottom: 10px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "result result result result"
    "ac ac backspace divide"
    "number-7 number-8 number-9 multiply"
    "number-4 number-5 number-6 minus"
    "number-1 number-2 number-3 plus"
    "number-0 number-0 dot equal";
  background: rgb(156, 142, 142);
  width: 280px;
  height: 340px;
  margin-top: 10px;
  /* border-radius: 7px; */
}
/* Operator buttons */
.content .operator-btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: 300px;
  transition: 1ms ease-in;
}
.content .operator-btn:hover {
  background-color: var(--secondary-color);
}
.content .operator-btn:active {
  background-color: var(--dark-grey);
}

.content div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid grey;
  user-select: none;
  background-color: var(--light-grey);
}

.content div:hover {
  cursor: pointer;
}
.content div.result:hover {
  cursor: default;
}

.content div.equal {
  background-color: var(--secondary-color);
  color: white;
}
.content div.equal:active {
  background-color: var(--dark-grey);
}

/* Content buttons  */

.content div.result {
  grid-area: result;
  border: none;
  font-size: 42px;
  justify-content: flex-end;
  color: white;
  padding-right: 10px;
  letter-spacing: 2px;
  min-height: 80px;
  background-color: var(--dark-grey);
}
.ac {
  grid-area: ac;
}
.backspace {
  grid-area: backspace;
}
.divide {
  grid-area: divide;
}
.minus {
  grid-area: minus;
}
.plus {
  grid-area: plus;
}
.multiply {
  grid-area: multiply;
}
.number-7 {
  grid-area: number-7;
}
.number-8 {
  grid-area: number-8;
}
.number-9 {
  grid-area: number-9;
}
.number-4 {
  grid-area: number-4;
}
.number-5 {
  grid-area: number-5;
}
.number-6 {
  grid-area: number-6;
}
.number-1 {
  grid-area: number-1;
}
.number-2 {
  grid-area: number-2;
}
.number-3 {
  grid-area: number-3;
}
.number-0 {
  grid-area: number-0;
}
.dot {
  grid-area: dot;
}
.equal {
  grid-area: equal;
}

/* center and align all elements */
